*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

.navbar{
    display: flex;
    margin: 0;
    padding: 22px;
    background-color: #f67280;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
}

.navbar .navbar-nav a{
    display: inline;
    padding: 22px 20px;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
}

.navbar .navbar-nav a:hover{
    padding: 22px 20px;
    background-color:#f8b595;
    color:beige;
}

.title{
    display: flex;
    justify-content: center;
    padding: 5rem 0 1rem;
}

.title h1{
    color:#f8b595;
    font-family:sans-serif;
    font-weight: 600;
    font-size: 50px;
}

.content{
    display: flex;
    padding: 0rem 5rem 2rem;
    text-align: justify;
}

.content p{
    color: #551215;
    font-weight: 2500;
    font-family: 'Times New Roman', Times, serif;
}

.photo{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    flex-wrap: wrap;
    text-align: center;
}

.photo .box img{
    width: 100%;
    border-radius: 35px;
    padding: 25px;
    transition: 1s;
    text-align: center;
    position: relative;
}

.photo .box img:hover{
    transform: scale(1.1);
    cursor: pointer;
}


footer{
    background-color:#f67280;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:row;
    bottom: 0;
}


.freki img{
    width: 23%;
    display: flex;
    padding: 0rem 0rem;
    align-items: center;
}


.links p{
    display: flex;
    color: aqua;
    padding: 0.3rem 7rem;
    padding-right: 20px;
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column; 
        text-align: center; 
    }
    .freki{
        justify-content: center;
        display: flex;
    }
}











